// Variables
$primary-font: 'Open Sans', sans-serif;;
$base-font-size: 14px;
$primary-bg: #5c227b;
$primary-color: #474747;
$secondary-color: #d4d4d4;
$btn-color: #9b3ecb;

// Mixins
@import "flex";

// General Styles
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: $primary-font;
}
body{
    font-family: $primary-font;
    font-size: $base-font-size;
    color: $primary-color;
}
h1, h2, h3, h4, h5, h6, p, div, table{
    font-family: $primary-font;
}
.clear-list-styles{
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn{
    font-size: 17px;
    color: #fff;
    background: $btn-color;
    padding: 8px 20px;
}

.compare-box{
    @media(min-width: 992px){
        max-width: 866px;
        margin: 0 auto;
        padding: 50px 0;
    }
}
.compare-box__head-section{
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 8px 14px 0 rgba(216, 221, 230, 0.5)
}
.compare-box__head-wrap{
    background: $primary-bg;
    padding: 22px 18px;
}
.compare-box__head{
    font-size: 20px;
    color: #fff;
    line-height: 1.3;
    margin: 0;
}
.compare-box__sub-head{
    font-size: 14px;
    color: $secondary-color;
    margin: 10px 0 0 0;
}
.compare-box__fieldset{
    border: none;
    padding: 18px;
    margin: 0;
}
.compare-box__form-element-list{
    @extend .clear-list-styles;
    > li{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        @media(min-width: 768px){
            margin-bottom: 0;
            margin-right: 10px;
        } 
        @media(min-width: 992px){
            margin-right: 15px;
        } 
        &:last-child{
            margin-bottom: 0;
            @media(min-width: 768px){
                width: 24%;
                margin-right: 0;
            } 
        }
        &:nth-child(1){
            @media(min-width: 768px){
                width: 38%;
            } 
        }
        &:nth-child(2){
           @media(min-width: 768px){
                width: 38%;
            } 
        }
    }
    @media(min-width: 768px){
        @include flexbox();
    }
}
.compare-box__dropdown{
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 14px;
    color: #b0b0b0;
    background: #fff;
    font-size: 14px;
    padding: 9px 16px;
    width: 100%;
    @media(min-width: 992px){
        height: 40px;
        padding: 0 16px;
    }
    &:focus{
        outline: none;
    }
}
.compare-box__submit-btn{
    background: #9b3ecb;
    border: none;
    width: 100%;
    font-size: 15px;
    color: #fff;
    border-radius: 4px;
    padding: 10px 0;
    &:hover{
        background: #9b3ecb;
    }
    &:focus{
        outline: none;
        background: #9b3ecb;
    }
}
.compare-box__table-wrap{
    background: #fff;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0 -2px 40px 0 rgba(216, 221, 230, 0.4);
    @media(max-width: 991px){
        overflow-x: scroll;
    }
    @media(min-width: 992px){
        overflow: hidden;
    }
    table{
        width: 100%;
        min-width: 768px;
        text-align: left;
        tr{
            th{
                &:last-child{border-right: none;}
            }
            td{
                &:last-child{border-right: none;}
            }
        }
        thead{
            th{
                font-size: 12px;
                font-weight: bold;
                color: #474747;
                padding: 15px 20px;
                line-height: 1.6;
                border-right: 1px solid #E9E9E9;
                @media(min-width: 768px){
                   font-size: 14px; 
                }
                @media(min-width: 992px){
                   font-size: 15px; 
                }
            }
        }
        tbody{
            tr:nth-child(odd){
                background: #f5f5f5;
            }
            th{
                font-size: 12px;
                font-weight: normal;
                color: #474747;
                padding: 15px 20px;
                border-right: 1px solid #E9E9E9;
                line-height: 1.6;
                @media(min-width: 768px){
                   font-size: 13px; 
                }
                @media(min-width: 992px){
                   font-size: 14px; 
                }
            }
            td{
                font-size: 12px;
                color: #818181;
                border-right: 1px solid #E9E9E9;
                padding: 15px 20px;
                line-height: 1.6;
                @media(min-width: 768px){
                   font-size: 13px; 
                }
                @media(min-width: 992px){
                   font-size: 14px; 
                }
            }
        }
    }
}
 .first-child{
     @media(min-width: 992px){
        width: 190px;
     }
 }

