<div class="compare-box">
  <section class="compare-box__head-section">
    <header class="compare-box__head-wrap">
      <h1 class="compare-box__head"> Select & Compare Mutual Fund Schemes</h1>
      <p class="compare-box__sub-head"> Make a detailed comparison here. You can select upto 2 schemes and compare.</p>
    </header>
    <fieldset class="compare-box__fieldset">
      <ul class="compare-box__form-element-list">
        <li class="compare-box__dropdown-wrap">
          <select (change)="compare1OnChange($event.target.value)" class="compare-box__dropdown">
            <option value="-1">Select a Scheme</option>
            <option *ngFor="let v of this.mastermFunds" [value]="v.scheme_key">
              {{v.name}}
            </option>
          </select>
        </li>
        <li class="compare-box__dropdown-wrap">
          <select (change)="compare2OnChange($event.target.value)" class="compare-box__dropdown">
            <option value="-1">Select a Scheme</option>
            <option *ngFor="let v of this.mastermFunds" [value]="v.scheme_key">
              {{v.name}}
            </option>
          </select>
        </li>
        <li class="compare-box__submit-btn-wrap">
          <button (click)="CompareFunds()" class="compare-box__submit-btn"> Compare Funds</button>
        </li>
      </ul>
    </fieldset>
  </section>
  <div class="compare-box__table-wrap" *ngIf="compare1Fund != null">
    <table class="compare-box__table" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Scheme</th>
          <th>{{compare1Fund?.details.name}}</th>
          <th>{{compare2Fund?.details.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="first-child">Nav</th>
          <td>{{compare1Fund?.nav}} as on {{compare1Fund?.nav_refresh_date}}</td>
          <td>{{compare2Fund?.nav}} as on {{compare2Fund?.nav_refresh_date}}</td>
        </tr>
        <tr>
          <th class="first-child">Fund class</th>
          <td>{{compare1Fund?.details.scheme_class}}</td>
          <td>{{compare2Fund?.details.scheme_class}}</td>
        </tr>
        <tr>
          <th class="first-child">Scheme Type</th>
          <td>{{compare1Fund?.details.scheme_type}}</td>
          <td>{{compare2Fund?.details.scheme_type}}</td>
        </tr>
        <tr>
          <th class="first-child">Scheme Category</th>
          <td>{{compare1Fund?.details.category}}</td>
          <td>{{compare2Fund?.details.category}}</td>
        </tr>
        <tr>
          <th class="first-child">Benchmark Type</th>
          <td>{{compare1Fund?.details.benchmark_text}}</td>
          <td>{{compare2Fund?.details.benchmark_text}}</td>
        </tr>
        <tr>
          <th class="first-child">Min. Subscription</th>
          <td>{{compare1Fund?.details.minimum_subscription}}</td>
          <td>{{compare2Fund?.details.minimum_subscription}}</td>
        </tr>
        <tr>
          <th class="first-child">Min.Add Subscription</th>
          <td>{{compare1Fund?.details.minimum_addition_subscription}}</td>
          <td>{{compare2Fund?.details.minimum_addition_subscription}}</td>
        </tr>
        <tr>
          <th class="first-child">Exit Load</th>
          <td>{{compare1Fund?.details.exit_load_text}}</td>
          <td>{{compare2Fund?.details.exit_load_text}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 